


body {
    background: rgb(184, 24, 24);
  }
  
  .grid-main {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 5px;
    margin: 0 auto;
    max-width: 400px;
    height: 500px;
  }
  
  .ecran {
    grid-column: 1 / -1;
    background: black;
  }
  
  .boutton {
    background: white;
    font-size: 1.5em;
    background: rgb(54, 28, 155);
    justify-content: center;
    align-items: center;
  }
  
  .cases {
    grid-column: span 2;
  }
  
  
